[submodule "swiper"]
	path = swiper
	url = https://github.com/abo-abo/swiper.git

[submodule "popwin"]
	path = popwin
	url = https://github.com/emacsorphanage/popwin.git

[submodule "emacs-dokey"]
	path = emacs-dokey
	url = https://github.com/ernstvanderlinden/emacs-dokey.git

